<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana sayfa</title>
    <link rel="stylesheet" href="/ana_sayfa_giris.css">
</head>
<body>
    <div class="container">
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana sayfa giris</title>
    <link rel="stylesheet" href="/public/ana_sayfa_giris.css">
</head>
<body>
    <div class="container">
        <h1>Ana sayfa</h1>
        <h2>Adı: {{name}}</h2>
        <h2>Şehri: {{sehir}}</h2>
        <h2>Ülkesi: {{ulke}}</h2>
        <h2>Numarası: {{cepno}}</h2>
        <h2>Adresi: {{adres}}</h2>
    </div>
</body>
</html>

    
    </div>
</body>
</html>
